[Desktop Entry]
Name            = BAH Browser (Firewall)
Type            = Application
Exec            = /usr/bin/sg iptables-web -c "/usr/bin/falkon --profile bah --no-remote --new-window"
Icon            = skydrive
Comment         = Work Browser
Terminal        = false
Keywords        = work
Categories      = Network;InstantMessaging;Qt;Work;
GenericName     = Work Broswer (Firewall)
StartupNotify   = true
StartupWMClass  = BAH
