[Desktop Entry]
Version=1.0
Name=Chromium (Firewall)
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/sh -c "export FIREFOX=0; $HOME/.local/bin/browser --incognito"
Terminal=false
Categories=Network;WebBrowser;
Actions=NewWindow;NewPrivateWindow;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true
Icon=chromium
Type=Application

[Desktop Action NewWindow]
Name=New Window
Exec=/usr/bin/sh -c "export FIREFOX=0; $HOME/.local/bin/browser"

[Desktop Action NewPrivateWindow]
Name=New Incognito Window
Exec=/usr/bin/sh -c "export FIREFOX=0; $HOME/.local/bin/browser --incognito"