[Desktop Entry]
Name            = Google Play Music (Firewall)
Exec            = /usr/bin/sg iptables-web -c "/usr/bin/falkon --profile gmusic --no-remote --new-window"
Icon            = multimedia-audio-player
Type            = Application
Comment         = Music Player
Terminal        = false
Keywords        = music
Categories      = Music;Audio;Qt;
GenericName     = Music Player (Firewall)
StartupNotify   = true
StartupWMClass  = GMusic
