[Desktop Entry]
Name            = Email (Firewall)
Exec            = /usr/bin/sg iptables-mail -c "/usr/bin/trojita %u"
Type            = Application
Icon            = trojita
Terminal        = false
MimeType        = x-scheme-handler/mailto;
Keywords        = mail;e-mail;IMAP;SMTP;eml;MUA;
Categories      = Qt;Office;Network;Email;
GenericName     = Email Client (Firewall)
StartupNotify   = true
