[Desktop Entry]
Name=Telegram (Firewall)
Comment=Official desktop version of Telegram messaging app
Exec=/usr/bin/sg iptables-web -c "/usr/bin/telegram-desktop -- %u"
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;