#!/usr/bin/bash
################################
###### iDigitalFlame 2018 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name            = Email (Firewall)
Exec            = /usr/bin/sg firewall-mail -c "/usr/bin/trojita %u"
Type            = Application
Icon            = trojita
Terminal        = false
MimeType        = x-scheme-handler/mailto;
Keywords        = mail;e-mail;IMAP;SMTP;eml;MUA;
Categories      = Qt;Office;Network;Email;
GenericName     = Email Client (Firewall)
StartupNotify   = true
