#!/usr/bin/bash
################################
###### iDigitalFlame 2019 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name                        = Geary (Firewall)
Icon                        = org.gnome.Geary
Exec                        = /usr/bin/sg firewall-mail -c "geary %U"
Type                        = Application
Actions                     = Compose;
Comment                     = Send and receive email
Keywords                    = Mail;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
Terminal                    = false
MimeType                    = x-scheme-handler/mailto;
Categories                  = GNOME;GTK;Network;Email;IMAP;SMTP;mail;email;
GenericName                 = Email
StartupNotify               = true
X-GNOME-UsesNotifications   = true

[Desktop Action Compose]
Name                        = Compose Message
Exec                        = /usr/bin/sg firewall-mail -c "geary mailto:"
