#!/usr/bin/bash
################################
###### iDigitalFlame 2018 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name            = Slack Stack (Firewall)
Exec            = /usr/bin/bash -c "slackstack"
Icon            = slack
Type            = Application
Comment         = Slack Stack Internet Client
MimeType        = x-scheme-handler/slack;
Terminal        = false
Keywords        = slack;im;social;stack;
Categories      = Network;InstantMessaging;Qt;
GenericName     = Chat Client and Messaging App (Firewall)
StartupNotify   = true
StartupWMClass  = Slack
