#!/usr/bin/bash
################################
###### iDigitalFlame 2019 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name            = Telegram (Firewall)
Exec            = /usr/bin/sg firewall-web -c "/usr/bin/telegram-desktop -- %u"
Icon            = telegram
Type            = Application
Comment         = Official desktop version of Telegram messaging app
Terminal        = false
Keywords        = tg;chat;im;messaging;messenger;sms;tdesktop;social;
Categories      = Network;InstantMessaging;Qt;
GenericName     = Chat Client and Messaging App
StartupNotify   = true
StartupWMClass  = TelegramDesktop
