#!/usr/bin/bash
################################
###### iDigitalFlame 2018 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Type            = Application
Name            = Arduino IDE (Firewall)
Exec            = /usr/bin/sg firewall-web -c "/usr/bin/arduino %U"
Icon            = arduino
Comment         = Open-source electronics prototyping platform
Terminal        = false
MimeType        = text/x-arduino;
Keywords        = embedded electronics;electronics;avr;microcontroller;
Categories      = Development;IDE;Electronics;
GenericName     = Arduino IDE (Firewall)
StartupWMClass  = processing-app-Base
