#!/usr/bin/bash
################################
###### iDigitalFlame 2019 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name            = Color Chroma (Firewall)
Exec            = /usr/bin/sg firewall-web -c "export GTK_THEME=null; /usr/bin/surf -mDfIKPBSng https://lucumalabs.com/chroma/"
Icon            = cs-color
Type            = Application
Comment         = Pick Colors
Terminal        = false
Keywords        = tools;color;utilities;
Categories      = Utilities;
GenericName     = Color Picker
StartupNotify   = true
StartupWMClass  = chroma
