#!/usr/bin/dash
################################
### iDigitalFlame  2016-2022 ###
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
#
# Copyright (C) 2016 - 2022 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

[Desktop Entry]
Exec            = /usr/bin/vscodium --unity-launch %F
Icon            = vscodium
Type            = Application
Name            = Code
Actions         = new-empty-window;
Comment         = Editor for building and debugging modern web and cloud applications
MimeType        = text/plain;
Terminal        = false
Keywords        = code;vs;dev;ide;vscode;
Categories      = Development;WebDevelopment;IDE;Utility;TextEditor;
GenericName     = Text Editor
StartupNotify   = true
StartupWMClass  = code

[Desktop Action new-empty-window]
Name            = New Empty Window
Exec            = /usr/bin/vscodium --unity-launch %F
Icon            = vscodium
