#!/usr/bin/bash
################################
###### iDigitalFlame 2019 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Exec            = /usr/share/vscodium/bin/codium --unity-launch %F
Icon            = vscodium
Type            = Application
Name            = Code
Comment         = Editor for building and debugging modern web and cloud applications
MimeType        = text/plain;inode/directory;
Terminal        = false
Keywords        = code;vs;dev;ide
Categories      = Development;WebDevelopment;IDE;Utility;TextEditor;
GenericName     = Text Editor
StartupNotify   = true
StartupWMClass  = code
