{
    "background": "/usr/bin/feh --no-fehbg --bg-fill --randomize /home/iDigitalFlame/Pictures/Backgrounds/*",
    "background_timer": 600,
    "blank_time": 60,
    "composer": "/home/iDigitalFlame/.bin/compton -cd :1 --config /home/iDigitalFlame/.config/compton.conf --blur-method kawase --blur-strength 3",
    "hibernate_time": 120,
    "locker": "/home/iDigitalFlame/.bin/i3/lock",
    "lock_time": 120,
    "polybar": {
        "laptop_mode": "laptop",
        "tablet_mode": "tablet"
    },
    "startup": [
        "/usr/bin/nm-applet",
        "/usr/bin/libinput-gestures",
        "/opt/spaceport/libexec/smd-enable-tap"
    ]
}