#!/usr/bin/bash
################################
###### iDigitalFlame 2018 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name            = Firefox (Firewall)
Exec            = /home/iDigitalFlame/.local/bin/browser %u
Icon            = firefox
Type            = Application
Actions         = new-window;new-private-window;
Comment         = Browse the Web
Terminal        = false
Keywords        = web;browser;internet;
MimeType        = text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Categories      = Network;WebBrowser;
GenericName     = Web Browser (Firewall)
StartupNotify   = true
StartupWMClass  = Firefox

[Desktop Action new-window]
Name            = New Window (Firewall)
Exec            = /home/iDigitalFlame/.local/bin/browser --new-window %u

[Desktop Action new-private-window]
Name            = New Private Window
Exec            = /home/iDigitalFlame/.local/bin/browser --private-window %u
