#!/usr/bin/bash
################################
###### iDigitalFlame 2019 ######
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
# iDigitalFlame

[Desktop Entry]
Name            = Google Play Music (Firewall)
Exec            = /usr/bin/sg firewall-web -c "/usr/bin/falkon --profile gmusic --no-remote --new-window"
Icon            = multimedia-audio-player
Type            = Application
Comment         = Music Player
Terminal        = false
Keywords        = music
Categories      = Music;Audio;Qt;
GenericName     = Music Player
StartupNotify   = true
StartupWMClass  = GMusic
