#!/usr/bin/bash
################################
### iDigitalFlame  2016-2021 ###
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
################################
## Application Entry
#
# Copyright (C) 2016 - 2021 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

[Desktop Entry]
Type            = Application
Exec            = /usr/bin/sg firewall-web -c "/usr/bin/liferea %U"
Name            = Liferea (Firewall)
Icon            = liferea
Comment         = Read news feeds and blogs
MimeType        = application/rss+xml;application/atom+xml;application/rdf+xml;x-scheme-handler/feed
Keywords        = news;feed;aggregator;blog;podcast;syndication;rss;atom
Categories      = Network;News;
GenericName     = Folder Sync
StartupNotify   = true
DBusActivatable = true
