################################
### iDigitalFlame  2016-2026 ###
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
## Application Entry
#
# Copyright (C) 2016 - 2026 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

# NOTE(dij): Using "--xdg-portal-required-version=1000000" disables the need for
#            electron to use the XDG portal bus. For some reason, Notesnook does
#            not properly connect even with the fixes.

[Desktop Entry]
Exec            = /usr/bin/ghr firewall-web /usr/bin/notesnook --disable-gpu-compositing --enable-webrtc-pipewire-capture --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --xdg-portal-required-version=1000000 %U
Icon            = notesnook
Name            = Notesnook 
Type            = Application
Actions         = new-note;new-notebook;new-reminder;
Comment         = Your private note taking space
Keywords        = notes;journal;tasks;
MimeType        =
Terminal        = false
Categories      = Office;
GenericName     = Notes
StartupNotify   = false
StartupWMClass  = notesnook
X-MultipleArgs  = false

[Desktop Action new-note]
Exec            = /usr/bin/ghr firewall-web /usr/bin/notesnook --disable-gpu-compositing --enable-webrtc-pipewire-capture --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --xdg-portal-required-version=1000000 %U new note
Name            = New Note

[Desktop Action new-notebook]
Exec            = /usr/bin/ghr firewall-web /usr/bin/notesnook --disable-gpu-compositing --enable-webrtc-pipewire-capture --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --xdg-portal-required-version=1000000 %U new notebook
Name            = New Notebook

[Desktop Action new-reminder]
Exec            = /usr/bin/ghr firewall-web /usr/bin/notesnook --disable-gpu-compositing --enable-webrtc-pipewire-capture --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --xdg-portal-required-version=1000000 %U new reminder
Name            = New Reminder
