[Desktop Entry]
Name            = Chroma (Firewall)
Exec            = /usr/bin/sg iptables-web -c "/usr/bin/surf -mDfIKPBSng https://lucumalabs.com/chroma/"
Icon            = cs-color
Type            = Application
Comment         = Pick Colors
Terminal        = false
Keywords        = tools;color;utilities;
Categories      = Utilities;
GenericName     = Color Picker (Firewall)
StartupNotify   = true
StartupWMClass  = chroma
