[Desktop Entry]
Exec            = /opt/visual-studio-code/code %f
Icon            = visual-studio-code
Type            = Application
Name            = VSCode
Comment         = Editor for building and debugging modern web and cloud applications
MimeType        = text/plain;inode/directory;
Terminal        = false
Categories      = Development;WebDevelopment;IDE;Utility;TextEditor;
StartupNotify   = true
StartupWMClass  = code
